.calendar {
  width: 100%;
  max-width: 370px;

  &__month {
    background-color: $red-1;
  }

  &__day {
    background-color: rgb(170, 224, 170);
    font-size: 20px;

    &--circled {
      border-radius: 50%;
      border: 1px solid $red-1;
    }

    &--selected {
      background-color: $red-1;
    }
  }
}
