.calendar-affiche {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: "Gilroy-Medium";
  font-style: normal;

  @media #{$screen-sm-max} {
    align-items: center;
  }

  &__header {
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;

    @media #{$screen-sm-min} {
      font-size: 24px;
      line-height: 120%;
    }

    @media #{$screen-md2-min} {
      font-size: 32px;
      line-height: 125%;
    }

    @media #{$screen-xl-min2} {
      font-size: 46px;
      line-height: 125%;
    }
  }

  &__container {
    display: flex;
    gap: 30px;

    @media #{$screen-sm-max} {
      flex-direction: column;
    }
  }

  &__arrow-right {
    transform: rotate(180deg);
  }

  &__arrow {
    width: 10px;
    height: 20px;
    cursor: pointer;
  }

  &__arrow-absolute--left {
    position: absolute;
    left: 20px;
    top: 50%;
  }

  &__arrow-absolute--right {
    position: absolute;
    right: 20px;
    top: 50%;
  }

  &__arrow-mobile {
    position: absolute;

    @media #{$screen-md2-min} {
      display: none;
    }
  }

  &__arrow-mobile--right {
    right: 5px;
    top: 50%;
    transform: rotate(180deg);
  }

  &__arrow-mobile--left {
    left: 5px;
    top: 50%;
  }
}
