.info {
  display: flex;
  margin-top: 20px;
  margin-bottom: 80px;
  gap: 30px;

  @media #{$screen-sm-max} {
    flex-direction: column;
  }

  &__text-container {
    display: flex;
    flex-direction: column;
    gap: 30px;

    @media #{$screen-sm-max} {
      order: 1;
    }

    @media #{$screen-sm-min} {
      gap: 28px;
    }

    @media #{$screen-md2-min} {
      gap: 30px;
    }

    @media #{$screen-xl-min2} {
      gap: 40px;
    }
  }

  &__text-block {
    display: none;

    @media #{$screen-sm-min} {
      width: 250px;
      display: block;
    }

    @media #{$screen-md2-min} {
      width: 338px;
      display: block;
    }

    @media #{$screen-xl-min2} {
      width: 470px;
      display: block;
    }
  }

  &__big-text {
    font-family: "Gilroy-Medium";
    font-style: normal;
    font-weight: 600;
    color: $black-light;

    @media #{$screen-sm-min} {
      font-size: 24px;
      line-height: 120%;
    }

    @media #{$screen-md2-min} {
      font-size: 32px;
      line-height: 125%;
    }

    @media #{$screen-xl-min2} {
      font-size: 46px;
      line-height: 125%;
    }
  }

  &__small-text {
    font-family: "Gilroy-Regular";
    font-style: normal;
    font-weight: 400;
    color: $black-light;

    @media #{$screen-sm-min} {
      font-size: 14px;
      line-height: 140%;
    }

    @media #{$screen-md2-min} {
      font-size: 16px;
      line-height: 140%;
    }

    @media #{$screen-xl-min2} {
      font-size: 20px;
      line-height: 130%;
    }
  }

  &__button {
    width: 100%;
    height: 40px;
    appearance: none;
    border: 0;
    border-radius: 72px;
    background: $orange;
    color: #fff;
    padding: 10px 30px;
    transition: 0.2s;
    cursor: pointer;

    font-family: "Gilroy-Regular";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;

    @media #{$screen-sm-min} {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 172px;
      height: 40px;
      padding: 15px 31px;
      font-size: 14px;
      line-height: 130%;
    }

    @media #{$screen-md2-min} {
      width: 208px;
      height: 50px;
      padding: 15px 31px;
      font-size: 16px;
      line-height: 130%;
    }

    @media #{$screen-xl-min2} {
      width: 270px;
      height: 63px;
      padding: 15px 31px;
      font-size: 20px;
      line-height: 130%;
    }
  }

  &__button:hover {
    background: $dark-orange;
  }

  &__button:active {
    background: $orange;
  }

  &__pagination-container {
    width: 280px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;

    @media #{$screen-sm-min} {
      width: 250px;
    }

    @media #{$screen-md2-min} {
      width: 338px;
    }

    @media #{$screen-xl-min2} {
      width: 450px;
    }
  }

  &__pagination {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__black-light {
    --currentSlide: 0;
    --width: calc(100 / 5);

    width: 100px;
    background: linear-gradient(
      90deg,
      $gray-light 0%,
      $gray-light calc(var(--currentSlide) * var(--width) * 1%),
      $black-light calc(var(--currentSlide) * var(--width) * 1%),
      $black-light calc((var(--currentSlide) + 1) * var(--width) * 1%),
      $gray-light calc((var(--currentSlide) + 1) * var(--width) * 1%),
      $gray-light 100%
    );

    height: 2px;
  }

  &__arrow-container {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  &__arrow-right {
    transform: rotate(180deg);
  }

  &__arrow {
    cursor: pointer;
  }

  &__slider-window {
    position: absolute;
    left: 820px;
    overflow: hidden;

    @media #{$screen-sm-max} {
      position: static;
      order: 0;
      margin: 0 -20px;
      padding: 0 20px;
    }
  }

  &__slider {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    height: 330px;
    border-radius: 10px;
    transition: transform 0.2s ease 0s;

    @media #{$screen-sm-min} {
      height: 354px;
    }

    @media #{$screen-md2-min} {
      height: 400px;
    }

    @media #{$screen-xl-min2} {
      height: 465px;
    }
  }

  &__picture {
    width: 100%;
    border-radius: 20px;
    transition: transform 0.2s ease 0s;
  }

  &__picture:hover {
    @media #{$screen-sm-min} {
      transform: scale(1.15);
    }
  }

  &__slide-arrow {
    transition: transform 0.2s ease 0s;
  }

  &__img-big:hover &__slide-arrow {
    @media #{$screen-sm-min} {
      transform: scale(1.5) rotate(-45deg);
    }
  }

  &__slide-text-group {
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 240px;
    color: $white;
    font-family: "Gilroy-Medium";
    font-size: 16px;
    line-height: 140%;

    @media #{$screen-sm-min} {
      width: 260px;
      font-size: 14px;
      line-height: 140%;
    }

    @media #{$screen-md2-min} {
      width: 300px;
      font-size: 16px;
      line-height: 140%;
    }

    @media #{$screen-xl-min2} {
      width: 350px;
      font-size: 20px;
      line-height: 28px;
    }
  }

  &__about-group {
    display: flex;
    gap: 15px;
  }

  // 358 X 415 | 302 X 350 | 240 X 278 | 245 X 257
  &__img,
  &__img-big {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
  }

  &__img {
    transition: all 0.1s;
    min-width: 245px;
    height: 257px;

    @media #{$screen-sm-min} {
      min-width: 240px;
      height: 278px;
    }

    @media #{$screen-md2-min} {
      min-width: 302px;
      height: 350px;
    }

    @media #{$screen-xl-min2} {
      min-width: 358px;
      height: 415px;
    }
  }

  // 400 X 465 | 339 X 400 | 300 X 354 | 280 X 300
  &__img-big {
    transition: all 0.1s;
    min-width: 280px;
    height: 330px;

    @media #{$screen-sm-min} {
      min-width: 300px;
      height: 354px;
    }

    @media #{$screen-md2-min} {
      min-width: 339px;
      height: 400px;
    }

    @media #{$screen-xl-min2} {
      min-width: 400px;
      height: 465px;
    }
  }
}
