.modal-window {
  display: none;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99999;
  width: 279px;
  height: 635px;
  background: #fff;
  padding: 30px 19px;
  top: 10%;

  font-family: "Gilroy-Light", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;

  @media #{$screen-sm-min} {
    width: 580px;
    height: 674px;
    padding: 40px 30px;
    top: 20%;
  }

  @media #{$screen-md2-min} {
    width: 608px;
    height: 674px;
  }

  @media #{$screen-xl-min2} {
    width: 608px;
    height: 674px;
  }

  &__close {
    position: absolute;
    top: 28px;
    right: 28px;

    @media #{$screen-sm-max} {
      top: 12px;
      right: 12px;
      width: 23px;
    }
  }

  &__header {
    font-family: "Gilroy-Medium";
    font-size: 24px;
    line-height: 130%;

    @media #{$screen-sm-max} {
      font-size: 16px;
      width: 200px;
    }
  }

  &__input-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__input-group {
    position: relative;
  }

  &__error-text {
    position: absolute;
    display: none;
    left: 15px;
    top: 35px;
    color: $orange;

    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;

    @media #{$screen-sm-max} {
      left: 0;
      top: 28px;
      height: 25px;
      font-size: 12px;
      padding-left: 7px;
    }
  }

  &__error {
    display: inline;
  }

  &__error-bottom {
    color: $orange !important;
    border-bottom: 1px solid $orange !important;
  }

  &__input {
    width: 100%;
    height: 32px;
    padding-left: 15px;
    margin-left: 0;
    color: $black-light;
    border: transparent;
    border-bottom: 1px solid $gray-lighter;

    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;

    @media #{$screen-sm-max} {
      height: 25px;
      font-size: 12px;
      padding-left: 7px;
    }
  }

  &__input::-webkit-outer-spin-button,
  &__input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &__input:focus {
    outline: 0;
  }

  &__input::placeholder {
    color: $black-light-transparent;
  }

  &__select {
    height: 32px;
    padding-left: 12px;
    color: $black-light;
    border: transparent;
    border-bottom: 1px solid $gray-light;

    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;

    @media #{$screen-sm-max} {
      height: 25px;
      font-size: 12px;
      padding-left: 4px;
    }
  }

  &__select:focus {
    outline: 0;
  }

  &__textarea {
    width: 100%;
    height: 100px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 15px;
    resize: none;

    border: 1px solid $gray-lighter;
    color: $black-light;
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;

    @media #{$screen-sm-max} {
      margin-top: 0px;
      font-size: 12px;
      padding: 7px;
    }
  }

  &__textarea:focus {
    outline: 0;
  }

  &__textarea::placeholder {
    color: $black-light-transparent;
  }

  &__agreement-container {
    display: flex;
    align-items: baseline;
    gap: 12px;

    @media #{$screen-sm-max} {
      gap: 6px;
    }
  }

  &__agreement {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
  }

  // &__checkbox {
  //   flex-shrink: 0;
  //   width: 14px;
  //   height: 14px;
  //   color: red;
  //   border: 0.1em solid #c4c4c4;
  //   border-radius: 0;
  // }

  &__confidential {
    color: $orange;
  }

  &__button {
    width: 250px;
    height: 42px;
    margin-top: 30px;
    appearance: none;
    border: 0;
    border-radius: 72px;
    background: $orange;
    color: #fff;
    padding: 10px 30px;
    transition: 0.2s;
    cursor: pointer;

    font-family: "Gilroy-Regular";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;

    @media #{$screen-sm-max} {
      width: 100%;
      margin-top: 20px;
    }
  }

  &__button:hover {
    background: $dark-orange;
  }

  &__button:active {
    background: $orange;
  }
}
