$screen-xxxs-min: "(min-width: 320px)";
$screen-xxxs-max: "(max-width: 321px)";

$screen-xxs-min: "(min-width: 361px)";
$screen-xxs-max: "(max-width: 360px)";

$screen-sm-min: "(min-width: 768px)";
$screen-sm-max: "(max-width: 767px)";

$screen-md2-min: "(min-width: 1024px)";
$screen-md2-max: "(max-width: 1025px)";

$screen-xl-min2: "(min-width: 1440px)";
$screen-xl-min: "(min-width: 1441px)";
$screen-xl-max: "(max-width: 1440px)";
